.additionally__title {
  margin: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additionally__heading {
  margin: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
}

.additionally__items {
  margin: 0;
}

.additionally__description {
  margin: 0;
  line-height: 14px;
}
