.additional__title {
  margin: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $basic_black;
}

.additional__container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  @include list-reset;
}

.additional__item {
  @media (min-width: $desktop-width) {
    @include flex-space-between;
  }
}

.additional__heading {
  margin: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
}

.additional__items {
  @include flex-space-between;
  margin: 0;
  line-height: 14px;
}

.additional__wrapper {
  @media (min-width: $tablet-width) {
    @include flex-space-between;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.additional__description {
  margin: 0;
}

.additional__button {
  min-height: 40px;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
