.card {
  display: grid;
  grid-template-areas:
    "img  title"
    "img  items"
    "btn  btn";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  &--more {
    @include flex-column;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    @include flex-column;
    background-color: $basic_grey;

    &--more {
      border: 2px solid $basic-grey;
    }
  }
}

.card__image-container {
  grid-area: img;

  @media (max-width: $mobile-width-only) {
    justify-self: center;
    align-self: end;
  }

  @media (min-width: $tablet-width) {
    margin-top: -80px;
    margin-bottom: 34px;
    align-self: center;
  }
}

.card__image {
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }

  &--more {
    margin-bottom: 22px;
    align-self: center;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      margin-top: 48px;
      margin-bottom: 44px;
    }
  }
}

.card__heading {
  max-width: 145px;
  margin: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  grid-area: title;
  text-transform: uppercase;

  &--more {
    margin-bottom: 22px;
    align-self: center;
    color: #111111;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 76px;

    &--more {
      max-width: 134px;
      margin-bottom: 8px;
      text-align: center;
    }
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    font-size: 20px;
    line-height: 22px;
    text-align: center;

    &--more::before {
      margin-top: 52px;
      margin-bottom: 48px;
    }
  }
}

.card__items {
  margin: 0;
  grid-area: items;

  @media (max-width: $mobile-width-only) {
    margin-top: 18px;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 32px;
  }
}

.card__wrapper {
  @include flex-space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid $special_grey;
    font-size: 16px;
    line-height: 16px;
  }
}

.card__description {
  max-width: 145px;
  margin: 0;
}

.card__sub-title {
  margin: 0;

  &--more {
    align-self: center;
  }

  @media (max-width: $mobile-width-only) {
    &--more {
      margin-bottom: 8px; // 20 - 12
      font-size: 12px;
    }
  }

  @media (min-width: $tablet-width) {
    &--more {
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }
}

.card__button {
  min-height: 40px;
  margin-top: 12px;
  padding: 0;
  text-align: center;
  grid-area: btn;

  &--more {
    background-color: $basic_grey;
    color: $special_dark-grey;

  &:hover {
    background-color: $special_grey-2;
  }

    @media (min-width: $tablet-width) {
      margin-top: auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }
}
