.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__input {
  padding: 14px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid $special_dark-grey-3;
}

.form__radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__radio-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.form__legend {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.form__textarea {
  padding: 10px 15px 10px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  border-color: $special_dark-grey-3;
  resize: none;
}

.form__checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__checkbox-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__wrapper-button {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    column-gap: 64px;
  }
}

.form__button {
  padding: 8px 76px;
}

.form__note {
  margin: 0;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
