.gift {
  min-height: 290px;
  background-color: $basic_green;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic_white;
}

.gift__description {
  margin: 0;
}
