.index-catalog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px 20px 0 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-top: 76px;
    padding-left: 52px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-height: 374px;
  }
}

.index-catalog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.index-catalog__item {
  position: relative;
  background-color: $basic_grey;
}

.index-catalog__title {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $basic_black;
  text-transform: uppercase;

  &--loss::before {
    content: "";
    display: block;
    width: 68px;
    min-width: 68px;
    height: 50px;
    background-image: url("../img/index-catalog/cat-loss.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 18px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 50%;
      right: 60px;
      width: 200px;
      height: 212px;
      margin-right: 0;
      background-size: 200px 212px;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: 54px;
      left: 0;
      width: 100px;
      min-width: 100px;
      height: 106px;
      margin-right: 62px;
      background-size: 100px 106px;
    }
  }

  &--gain::before {
    content: "";
    display: block;
    width: 68px;
    min-width: 68px;
    height: 50px;
    background-image: url("../img/index-catalog/cat-gain.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 50%;
      right: 60px;
      width: 268px;
      height: 200px;
      margin-right: 0;
      background-size: 268px 200px;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: 54px;
      left: 0;
      width: 134px;
      min-width: 134px;
      height: 100px;
      margin-right: 47px;
      background-size: 134px 100px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.index-catalog__description {
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    padding-bottom: 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }
}

.index-catalog__link {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 18px;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $basic_black;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    min-width: 24px;
    height: 12px;
    margin-left: 16px;
    background-image: url("../img/index-catalog/arrow.svg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }
}
