.index-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-catalog__item {
  background-color: $basic_grey;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.index-catalog__title {
  margin: 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;

  &--loss::before {
    content: '';
    display: block;
    width: 50px;
    height: 54px;
    background-image: url("../img/index-catalog/cat-loss.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--gain::before {
    content: '';
    display: block;
    width: 67px;
    height: 50px;
    background-image: url("../img/index-catalog/cat-gain.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.index-catalog__description {
  margin: 0;
}

.index-catalog__link {
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
