.main-footer {
  padding: 40px 0;
  background-color: $basic_grey;
}

.main-footer__container {
  @include flex-column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
