.main-header {
  padding: 12px 0 18px 0;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.main-header__container {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header__burger {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
