.program {
  font-family: $font-oswald;
  font-style: normal;
  color: $basic_black;
}

.program__container {
  padding-top: 28px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    font-size: 60px;
    line-height: 60px;
  }
}

.program__sub-title {
  margin: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 30px;
  }
}
