.promo {
  padding-top: 28px;
  background-image: url("../img/promo/promo-background.jpg");
  background-repeat: no-repeat;
  background-color: $basic_green;
  font-family: $font-oswald;
  font-style: normal;
  color: #ffffff;
}

.promo__container {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.promo__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.promo__button {
  padding: 8px 74px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
