.promo {
  padding-top: 28px;
  background-image: url("../img/promo/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  font-family: $font-oswald;
  font-style: normal;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    background-image: url("");
    color: $basic_black;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/promo/promo-background.jpg");
    background-size: 50% auto;
    background-position: center right;
  }
}

.promo__container {
  @include flex-column;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.promo__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.promo__button {
  padding: 8px 72px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 26px;
  }
}
