.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.social-list__link {
  &--vk {
    display: block;
    width: 28px;
    height: 22px;
    background-image: url("../img/main-footer/vk.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--youtube {
    display: block;
    width: 28px;
    height: 22px;
    background-image: url("../img/main-footer/youtube.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--telegram {
    display: block;
    width: 28px;
    height: 22px;
    background-image: url("../img/main-footer/telegram.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:focus {
    outline: none;
  }

  &:focus .social-list__icon {
    color: $basic_green;
  }
}

.social-list__icon {
  color: $special_grey-3;
  vertical-align: middle;

  &--vk {
    width: 28px;
    height: 17px;
  }

  &--youtube {
    width: 25px;
    height: 19px;
  }

  &--telegram {
    width: 21px;
    height: 18px;
  }

  &:hover {
    color: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}
