@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
