@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin advantages-icon {
  content: "";
  display: block;
  min-width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $mobile-width-only) {
    margin-right: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

@mixin delimiter {
  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $special_grey-2;
  }
}
